# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.ipch
/OverTheLimits/OverTheLimits/OverTheLimits.vcxproj.filters
*.suo
*.db
*.opendb
*.tlog
*.log
/OverTheLimits/OverTheLimits/Debug
/OverTheLimits/Debug
*.DS_Store
/HeapManager/Debug
/HeapManager/HeapManager/Debug
/HeapManager/HeapManager/Release
/HeapManager/HeapManager/ReadMe.txt
/HeapManager/Release
/HeapManager/enc_temp_folder/d01bc16f852c72fdb79d77da41fa8b
/DllExample/.vs/DllExample/v15
/DllExample/Debug
/DllExample/DllExample/Debug
/DllExample/DllExample/Release
/DllExample/Release
/DllExample/WordsCountImporter/Debug
/DllExample/WordsCountImporter/Release
/DllExample/ExplicitDynamic/Debug
/DllExample/ImplicitDynamic/Debug
/DllExample/ImplicitDynamic/Release
/DllExample/unicode_text.txt
/DllExample/DllExample/DllExample.vcxproj.user
/DllExample/ExplicitDynamic/ExplicitDynamic.vcxproj.user
*.pdb
*.idb
DllExample/unicode_text.txt
*.ilk
*.enc
*.db-shm
*.db-wal
*.ipdb
*.iobj
Workers/result.txt
